{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<!DOCTYPE html>
<html>
<head>
	<title>ITR Form</title>
</head>
<body>
	Pan Number
	<form method="POST">
		<input name="pan_number" id="id_pan_number" placeholder="Enter your PAN number"/>
		{{ data }}
		{% csrf_token %}
		{% if error %}
			<div class="form-group has-error">
				<span class="help-block"> {{ error }}</span>
			</div>
		{% endif %}
	</form>
</body>
</html>