<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-lzyt{font-weight:bold;text-decoration:underline;font-size:26px;text-align:center;vertical-align:top}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 1225px">
<colgroup>
<col style="width: 266px">
<col style="width: 399px">
<col style="width: 269px">
<col style="width: 291px">
</colgroup>
  <tr>
    <th class="tg-lzyt" colspan="4">INDIVIDUAL INCOME TAX RETURN<br></th>
  </tr>
  <tr>
    <td class="tg-amwm">First name</td>
    <td class="tg-amwm">Middle name</td>
    <td class="tg-amwm">Last name</td>
    <td class="tg-amwm">PAN</td>
  </tr>
  <tr>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-amwm">Sex</td>
    <td class="tg-amwm">Date of birth (format: dd/mm/yyy)</td>
    <td class="tg-amwm" colspan="2">Income tax ward/circle</td>
  </tr>
  <tr>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh" colspan="2"></td>
  </tr>
  <tr>
    <td class="tg-amwm">Flat / Door / Building</td>
    <td class="tg-amwm">Name of Premises / Building / Village</td>
    <td class="tg-amwm">Road / Street</td>
    <td class="tg-amwm">Area / Locality</td>
  </tr>
  <tr>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-amwm">Town/ City/ District</td>
    <td class="tg-amwm">State</td>
    <td class="tg-amwm">Country</td>
    <td class="tg-amwm">Pincode</td>
  </tr>
  <tr>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-amwm">Status</td>
    <td class="tg-amwm">Email Address</td>
    <td class="tg-amwm">Mobile No. 1</td>
    <td class="tg-amwm">Mobile No. 2</td>
  </tr>
  <tr>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-amwm">STD code</td>
    <td class="tg-amwm">Phone number (Landline)</td>
    <td class="tg-amwm">Employer Category</td>
    <td class="tg-amwm">Return filed under section</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-amwm">Whether Person governed by Portuguese Civil Code under section 5A ?</td>
    <td class="tg-amwm">PAN of spouse</td>
    <td class="tg-amwm">Tax Status</td>
    <td class="tg-amwm">Whether it is original or revised return?</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-amwm">If Revised/Defective, then Enter Receipt Number of Original Return</td>
    <td class="tg-amwm">Notice No (Where the Original Return filed was defective and a notice is issued to the assessee to file a fresh return Sec 139(9)</td>
    <td class="tg-amwm">Date of Filing Original Return</td>
    <td class="tg-amwm">If filed in response to a notice u/s 139(9)/142(1)/148/153A/153C enter date of such notice</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-amwm">Residential Status</td>
    <td class="tg-amwm">Whether you have Aadhaar Number?</td>
    <td class="tg-amwm" colspan="2">If Yes, Please provide Aadhaar Number</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l" colspan="2"></td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
</table>

</body>
</html>